a{text-decoration: none}


@media only screen and (max-width: 768px) {
  .page-title {
    margin-left: 50px;
    font-size: 22px!important;
    line-height: 35px;
  }
}

.card {
  color: white;
  padding: 10px 15px;
  margin: 10px;
  overflow: hidden;
  min-height: 98px;
  box-shadow: var(--box-shadow)

}

.card-title {
  font-weight: 300;
}

.success-card {
  background: var(--success-color);
}

.danger-card {
  background: var(--danger-color);
}

.card-hover:hover{
  opacity: 0.8;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.background-icon {
  position: absolute;
  font-size: 100px;
  opacity: 0.4;
  right: 5px;
  top: 10px;
}