@media only screen and (max-width: 768px) {
  .page-title {
    margin-left: 50px;
    font-size: 22px!important;
    line-height: 35px;
  }
}

.card {
  background: var(--lighter-background-color);

  margin: 10px;
  overflow: hidden;
  min-height: 98px;
  box-shadow: var(--box-shadow)
}
.card-head {
  background: var(--darker-background-color);
}
.card-title {
  font-weight: 300;
  font-size: 17px;
  padding: 11px;
  margin: 0;
  border-bottom: 2px solid var(--primary);
  text-align: center;
}

