<div appModal>

  <div class="details-modal">

    <div class="modal-head">
      <h4 class="modal-title">
        Filtros
        <button (click)="close()" class="close-btn btn btn-primary btn-sm"><i class="fa fa-times"></i></button>
      </h4>
    </div>

    <div class="modal-body">


      <form [formGroup]="filterForm" (submit)="submitFilters()">

        <div class="form-row">
          <div class="col-md-3 mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Buscar" formControlName="search">
          </div>

          <div *ngIf="filterConfig" class="col-md-3 mb-3 mt-3">
            <select type="text" class="custom-select" formControlName="health_insurance">
              <option value="" selected>Plano de Saúde</option>
              <option *ngFor="let filter of filterConfig.health_insurances" [value]="filter.id">{{filter.name}}</option>
            </select>
          </div>
        </div>

        <button class="btn full-width-mobile btn-success pull-right mr-2 mb-1" type="submit"><i class="fa fa-search"></i></button>

      </form>


    </div>


  </div>

</div>