<div class="panel">
    <div class="row  mb-3">
        <div class="col-xl-3 col-md-6 col-12">
            <div class="input-group">
                <input [(ngModel)]="newAnamnesis" type="text" class="form-control" placeholder="Nova Anamnese">
                <div class="input-group-append">
                    <button (click)="create(newAnamnesis)" class="btn btn-success" type="button">
                        <i class="fa" [ngClass]="{'fa-check': !creatingAnamnesis, 'fa-spinner': creatingAnamnesis, 'fa-spin': creatingAnamnesis}"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="panel-body">
        <div class="table-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" *ngFor="let anamnesis of tableData; let i = index;">
                    <div class="paper-stack">
                        <h2 class="data-title-label" style="font-size: 17px;">Anamnese #{{anamnesis.id}}</h2>

                        <button (click)="edit(anamnesis.id)" class="btn btn-primary actions">
                            <i class="fa fa-pencil"></i>
                        </button>

                        <p><span class="data-title-label">Título:</span> {{ anamnesis.name }}</p>
                        <p><span class="data-title-label">Criada em: </span>
                            {{ anamnesis.created_at | date:'dd/MM/yy' }} - {{ anamnesis.created_at | date:'HH:mm' }}</p>
                        <p><span class="data-title-label">Atualizada em: </span>
                            {{ anamnesis.updated_at | date:'dd/MM/yy' }} - {{ anamnesis.updated_at | date:'HH:mm' }}</p>

                        <button (click)="download(anamnesis)" class="btn btn-info btn-block"> 
                            <i class="mr-2 fa" [ngClass]="{'fa-download': !anamnesis.downloading, 'fa-spin': anamnesis.downloading, 'fa-spinner': anamnesis.downloading}"></i>
                            Download
                         </button>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>