
.notify-container {
    transition: all 500ms;
    cursor: pointer;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 250px;
    max-width: 500px;
    top: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 17px;
    animation: notificationPop 1s;
    background-color: rgba(241, 10, 21, 0.897);   
    color: white;  
}

@keyframes notificationPop {
    0% {opacity: 0;transform: translateX(120%);}
    100% {opacity: 1;transform: translateX(0);}
}
@keyframes notificationDisappear {
    0% {opacity: 1;transform: translateX(0);}
    100% {opacity: 0;transform: translateX(120%);}
}

.notificationDisappear { animation: notificationDisappear 1s; }
.notify-container:hover { background-color: rgba(241, 10, 21, 0.575); }



 .notify-icon {
    color: white;
    float:left;
    font-size: 110%;
    margin-right: 15px;
}

/*
.notify-background {
    background: rgba(186, 46, 53, .8);    
    border-right: 10px solid rgba(186, 46, 53, .8);
    color: rgb(82, 82, 82);
}


.notify-background-white {
    background: white;    
    border-right: 10px solid rgba(186, 46, 53, .8);
    color: rgb(82, 82, 82);
}
.notify-icon-background-white {color: rgba(186, 46, 53, .8)!important;} */