<!-- <div class="table-wrapper">


  <div class="tableFilters row">
  
    <div class="col-md-3 input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar">
      <div class="input-group-prepend">
          <button (click)="addFilters(search)" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  
  </div>
  
  <div class="tableStyles">
  
    <table class="display table table-condensed table-responsive-md">
      <thead>
        <th *ngFor="let tableHead of tableHeadings"><a class="pointer" (click)="changeSort(tableHead)">{{tableHead.title}}
            <i class="fa" [ngClass]="{'fa-caret-up': tableHead.sorted === 'asc', 'fa-caret-down': tableHead.sorted === 'desc'}"></i>
          </a>
        </th>
        <th *ngIf="tableRowActions">Ação</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableData; let patientId = index">
          <td *ngFor="let headingValue of headingValues" [width]="tdWidth(headingValue)" [title]="data[headingValue]">
            <span *ngIf="verifyIfItsTimestamp(headingValue)">{{data[headingValue] | date:'dd/MM/yyyy HH:mm'}}</span>
            <span *ngIf="verifyIfItsToCount(headingValue)">{{ data[headingValue].length }}</span>
            <span *ngIf="verifyIfItsArray(headingValue)">{{data[headingValue[0]][headingValue[1]]}}</span>
            <span *ngIf="!verifyIfItsToCount(headingValue) && !verifyIfItsTimestamp(headingValue) && !verifyIfItsArray(headingValue)">{{data[headingValue] ? (data[headingValue] | wordWrap) : '--'}}</span>
          </td>
          <td *ngIf="tableRowActions">
            <button *ngFor="let action of tableRowActions" (click)="emitButtonAction(action.emits, data['id'], patientId)" [title]="action.title" class="mr-2 btn btn-sm" [ngClass]="action.color"><i class="fa" [ngClass]="action.icon"></i></button>
          </td>
        </tr>
        <tr *ngIf="!tableData || tableData.length <= 0">
            <td colspan="6" class="text-center">
                Nenhum Dado Encontrado
            </td>
        </tr>
      </tbody>
  
    </table>
  
  
    <!-- <nav style="float: right">
      <select [(ngModel)]="limitPerPage" (change)="limitChange(limitPerPage)" style="display: inline;">
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="55">55</option>
      </select>
  
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="paginationChange(pagination.current_page - 1)"><</a> </li>
  
        <li *ngIf="pagination.links.previous && pagination.links.next" class="page-item"><a class="page-link" href="#">{{pagination.current_page
            - 1}}</a></li>
        <li class="page-item active"><a class="page-link" href="#">{{pagination.current_page}}</a></li>
  
  
        <li class="page-item">
          <a class="page-link" (click)="paginationChange(pagination.current_page + 1)">></a>
        </li>
      </ul>
    </nav> 
  
  
  </div>
</div> -->