<div class="row">
  <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">

    <div class="panel">

      <h4 class="panel-title">
        <button routerLink=".." class="return-btn btn btn-primary">
          <i class="fa fa-arrow-left"></i>
        </button>
        Cadastrar Paciente
      </h4>


      <div class="panel-body">
        <form [formGroup]="patientForm" (submit)="submitPatientData()">

          <div class="form-row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Nome</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Umberto Barros">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Plano de Saúde</label>
                <select formControlName="health_insurance" type="text" class="form-control" placeholder="Umberto Barros">
                  <option value="">Não Possui</option>
                  <option *ngFor="let healthInsurance of healthInsurances" [value]="healthInsurance.id">{{healthInsurance.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Celular<small> &mdash; Opcional</small></label>
                <input formControlName="phone" type="text" class="form-control" placeholder="+55 (81) 99818-1213">
              </div>
            </div>

          </div>

          <div class="form-row">

            <div class="col-md-4">
              <div class="form-group">
                <label>Email<small> &mdash; Opcional</small></label>
                <input formControlName="email" type="text" class="form-control" placeholder="email@email.com">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Particular</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <button (click)="setPatientType()" type="button" class="btn" [ngClass]="{'btn-danger': isPrivateValue === 'Não', 'btn-success': isPrivateValue === 'Sim'}"
                      id="inlineFormInputGroup">
                      <div class="fa" [ngClass]="{'fa-times': isPrivateValue === 'Não', 'fa-check': isPrivateValue === 'Sim'}"></div>
                    </button>
                  </div>
                  <input type="text" class="form-control" disabled [(ngModel)]="isPrivateValue" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Estado Civil</label>
                <select formControlName="marital_status_type_id" type="text" class="form-control">
                  <option *ngFor="let maritalState of maritalStates" [value]="maritalState.value">{{maritalState.title}}</option>
                </select>
              </div>
            </div>

            <div [ngClass]="{'col-md-2': checkMaritalStatus(), 'col-md-4': !checkMaritalStatus()}">
              <div class="form-group">
                <label>Filhos</label>
                <input formControlName="childrens_number" type="number" class="form-control" placeholder="0" min="0">
              </div>
            </div>

            <div *ngIf="checkMaritalStatus()" class="col-md-2">
              <div class="form-group">
                <label>Tempo de União</label>
                <input formControlName="union_time" type="number" class="form-control" placeholder="0" min="0">
                <small style="font-size: 80%">&bull; Em Anos</small>
              </div>
            </div>


          </div>

          <h5>Endereço</h5>

          <div class="form-row">

            <div class="col-md-4">
              <div class="form-group">
                <label>CEP</label>
                <input id="address-zip_code" formControlName="zip_code" (blur)="findCep()" type="text" class="form-control" placeholder="00000-000"
                  maxlength="8">
                <button [@fade] type="button" class="pointer finding-cep" *ngIf="findingCep || cepFound" (click)="clearSelectedAddress()">
                  <i class="fa" [ngClass]="{'fa-spinner': findingCep, 'fa-spin': findingCep, 'fa-times': cepFound}"></i>
                </button>
              </div>
            </div>


            <div class="col-md-4">
              <div class="form-group">
                <label>Cidade</label>
                <input id="address-city" formControlName="city" type="text" class="form-control" placeholder="Recife">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Bairro</label>
                <input id="address-district" formControlName="district" type="text" class="form-control" placeholder="Barro">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Rua</label>
                <input id="address-street" formControlName="street" type="text" class="form-control" placeholder="Av. Caxangá">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Número</label>
                <input id="address-number" formControlName="number" type="text" class="form-control" placeholder="000">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Complemento<small> &mdash; Opcional</small></label>
                <input formControlName="complement" type="text" class="form-control" placeholder="Aptº 0000">
              </div>
            </div>

          </div>

          <button [disabled]="creatingPatient" type="submit" class="btn btn-success pull-right">{{creatingPatient ?
            'Criando' : 'Criar'}} <i *ngIf="creatingPatient" class="fa fa-spinner fa-spin"></i></button>

        </form>

      </div>



    </div>


  </div>
</div>