:root {
  --main-background-color: #383F48;
  --secondary-color: #242a33;

  --darker-background-color: #212529;
  --lighter-background-color: #2b323d;

  --background-line: #1f242c;
  
  --darker-background-selected: #212529a8;

  --font-color: #e7e7e7;
  --font-subcolor: #757e8a;
  --darker-font-color: #383F48;


  --success-color: #00B243;
  --danger-color: #FF2419;
  --info-color: #19b0c7 ;


  --box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


body{
  background-color: var(--main-background-color)!important;
}

h1, h2, h3, h4, h5, p, span, small, tr, td, th, label {
  font-weight: 400!important;
  color: var(--font-color)!important;
}

p {
  word-break: break-all;
}

  /* ----- Classes ----- */

.page-title {
  font-weight: 300;
  padding-bottom: 20px;

}


.pointer {
  cursor: pointer;
}

  


  @media only screen and (max-width: 468px) {
    .full-width-mobile {
      width: 100%;
    }
  }


/*-- Panel--Styles --*/
.panel{
  margin-top: 15px;
  padding: 30px 30px 15px 30px; 
  background: var(--lighter-background-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}


.panel-title {
  margin-bottom: 20px;
}
.return-btn {
  margin-right: 1rem;
  margin-top: 5px;
  transform: translateY(-10%);

}


/*---Table-Styles--*/
.table-wrapper{
  margin-top: 10px;
}

.tableStyles{
  border-radius: 10px;
  overflow: hidden;
}
thead { background-color: var(--darker-background-color); }
.table thead th {
  border: none!important;
  font-weight: 500;
}

.table>tbody>tr>td {
  background-color: var(--secondary-color);
  border-color: var(--lighter-background-color);
  font-weight: 300;
}
.table>tbody>tr:first-child>td { border: none; }

.table {
  width: 100%;
}



.tablePagination{
  border-radius: 20px;
}

select,
input {
  background: var(--lighter-background-color)!important;
  display: inline;
  color: var(--font-color)!important;
  border: 1px solid var(--font-subcolor)!important;
}

.tablePagination select,
.tablePagination input{
  border-left: none!important;
}


.tablePagination label {
  background: var(--darker-background-color)!important;
  color: var(--font-color)!important;

  border: 1px solid var(--font-subcolor)!important;
  border-right: none;
}
.tablePagination .btn-group {
  height: 50%;
}