@import './assets/all-styles/table.css';
@import './assets/all-styles/panel.css';
@import './assets/all-styles//utils.css';

:root {
  --main-color: #383F48;
  --secondary-color: #242a33;  
  --darker-color: #212529;
  --darker-color-selected: #212529a8;
  --lighter-color: #2b323d;

  --background-line: #1f242c;
  
  --font-color: #e7e7e7;
  --font-subcolor: #757e8a;
  --darker-font-color: #383F48;


  --success-color: #00B243;
  --danger-color: #FF2419;
  --info-color: #19b0c7 ;
  
  /* --primary: rgb(9, 69, 148)!important; */

  --box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


body{
  background-color: var(--main-color)!important;
}

h1, h2, h3, h4, h5, p, span, small, tr, td, th, label {
  font-weight: 400!important;
  color: var(--font-color)!important;
}

p {
  word-break: break-all;
}

select,
input {
  background: var(--lighter-color)!important;
  display: inline;
  color: var(--font-color)!important;
  border: 1px solid var(--font-subcolor)!important;
}

  /* ----- Classes ----- */

.page-title {
  font-size: 1.1375rem;
  font-weight: 600!important;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.01px;
}


  
