.panel{
    margin-top: 15px;
    padding: 30px 30px 15px 30px; 
    background: var(--lighter-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
  
.panel-title {
    margin-bottom: 20px;
}

.return-btn {
    margin-right: 1rem;
    margin-top: 5px;
    transform: translateY(-10%);
}
  
  