.wrapper {
  position: relative;
  width: 100%;
}

.responsive {
  display: none;
}



.sidebar-panel{
  overflow-x: hidden;
  background-color: var(--secondary-color);
  width: 200px;
  position: absolute;
  height: 100%;
  min-height: 100vh;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  z-index: 998;
}

.main-panel{
  width: 100%;
  flex: 1;
  padding: 20px 20px 20px 220px; /*top right bottom left*/
}

.page-title {
  font-size: 1.1375rem;
  font-weight: 600!important;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.01px;
}


@media only screen and (max-width: 768px) {
  .responsive {
    display: block;
  }

  .main-panel{
    padding: 20px 20px 20px 20px; /*top right bottom left*/
  }

  .page-title {
    text-align: center;
  }

}

#sidebarBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  border-radius: 100%;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  -moz-box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.42);
  box-shadow: 0 8px 10px -1px rgba(0, 0, 0, 0.42);

  transition: all 500ms;
}

.btnChangePosition {
  left: 11.5em!important;
}






/*-------LoadingScreen-------*/
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 0.7s linear infinite;
  animation: lds-eclipse 0.7s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #6e6e6e;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 84px !important;
  height: 84px !important;
  -webkit-transform: translate(-100px, -110px) scale(0.42) translate(42px, 42px);
  transform: translate(-100px, -110px) scale(0.42) translate(42px, 42px);
}