<div class="panel">

  <h4 class="panel-title">
    <button routerLink="../.." class="return-btn btn btn-primary">
      <i class="fa fa-arrow-left"></i>
    </button> Paciente #{{patient.id}}

    <button id="download-anamnesis" class="btn btn-success btn-sm" (click)="downloadPatientAnamnesis()">
      <i class="fa" [ngClass]="{'fa-download': !downloadingAnamnesis, 'fa-spinner': downloadingAnamnesis, 'fa-spin': downloadingAnamnesis}"></i>
      Anamnese
    </button>
  </h4>

  <div class="panel-body">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <app-patient-data-cell [cellTitle]="'Nome'" [(cellValue)]="patient.name" [cellType]="'text'"></app-patient-data-cell>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Plano de Saúde</h5>
        <p class="click-for-edit">{{patient.HealthInsurance ? patient.HealthInsurance.name : 'Nenhum'}}</p>
      </div>


      <div class="col-md-3 col-sm-6">
        <app-patient-data-cell [cellTitle]="'Nascimento'" [(cellValue)]="patient.birthday" [cellType]="'date'"></app-patient-data-cell>
      </div>


      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Celular</h5>
        <p class="click-for-edit">{{patient.Contact.phone ? patient.Contact.phone : '--'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Email</h5>
        <p class="click-for-edit">{{patient.Contact.email ? patient.Contact.email : '--'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Particular</h5>
        <p class="click-for-edit">{{patient.is_private ? 'Sim' : 'Não'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Estado Civil</h5>
        <p class="click-for-edit">{{ patient.MaritalStatus.MaritalStatusType.name }}</p>
      </div>
      <div class="col-md-3 col-sm-6" *ngIf="patient.MaritalStatus.MaritalStatusType.id !== 1">
        <h5 class="data-name">Tempo de União</h5>
        <p class="click-for-edit">{{ patient.MaritalStatus.union_time }}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Filhos</h5>
        <p class="click-for-edit">{{ patient.MaritalStatus.childrens_number }}</p>
      </div>
    </div>
    <hr class="details-separator">
    <div class="row">
      <div class="col-md-12">
        <h4 class="data-name-address">Endereço</h4>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">CEP</h5>
        <p class="click-for-edit">{{patient.Address.zip_code || '--'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Rua</h5>
        <p class="click-for-edit">{{patient.Address.street || '--'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <app-patient-data-cell [cellTitle]="'Número'" [(cellValue)]="patient.Address.number" [cellType]="'text'"></app-patient-data-cell>
      </div>
      <div class="col-md-3 col-sm-6">
        <app-patient-data-cell [cellTitle]="'Complemento'" [(cellValue)]="patient.Address.complement" [cellType]="'text'"></app-patient-data-cell>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Bairro</h5>
        <p class="click-for-edit">{{patient.Address.district || '--'}}</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="data-name">Cidade</h5>
        <p class="click-for-edit">{{patient.Address.city || '--'}}</p>
      </div>
    </div>


    <hr class="details-separator">

    <div class="panel-footer">

      <div class="row">
        <div class="col-md-12">
          <p style="display: inline-block"><strong class="data-name">Cadastrado em: </strong>{{patient.created_at |
            date:'dd/MM/yyyy
            HH:mm'}}&emsp;</p>
          <p *ngIf="patient.created_at !== patient.updated_at" style="display: inline-block"><strong class="data-name">
              Atualizado em: </strong>{{patient.updated_at
            | date:'dd/MM/yyyy
            HH:mm'}}</p>
        </div>
      </div>

    </div>

  </div>