.panel-footer p,
.panel-footer strong {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.details-separator {
    border-top: 1px solid var(--main-color);
    margin-top: 5px;
    margin-bottom: 15px;
}


#download-anamnesis {
    float: right;
}


@media only screen and (max-width: 400px) {

    #download-anamnesis {
        float: none;
    }
    
}

